html {
    scroll-behavior: smooth;
}


/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    margin: 0 0 1em 0;
}

/* Header and Navigation */
header {
    background-color: #000000;
    color: #fff;
    padding: 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px; /* Aggiunge uno spazio bianco tra header e main */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.logo {
    font-size: 1.5em;
}

.logo-image {
    width: 200px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1em;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #FE1721; /* Updated hover color */
}

.search-bar {
    position: relative;
}

.search-bar input {
    padding: 0.5em 1em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.search-bar input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-bar button {
    background-color: #FE1721;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #e0131b; /* Tonalità leggermente più scura del rosso principale */
}

.nav-right {
    display: flex;
    align-items: center;
}

.account-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 1em;
    transition: color 0.3s ease;
}

.account-link a:hover {
    color: #FE1721; /* Updated hover color */
}

/* Banner */
.banner {
    background-color: #000000;
    text-align: center;
}

.banner img {
    width: 1200px;
    height: 300px;
    object-fit: cover;
}

/* Categories, Featured Products, and Special Offers */
.categories, .featured-products, .special-offers, .testimonials {
    padding: 2em 1em;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    color: #2c3e50;
}

/* Categorie */
.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.category-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    padding: 1em;
    border-radius: 15px;
    flex: 1 1 calc(25% - 1em);
    box-sizing: border-box;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: inherit; /* Assicura che il testo erediti il colore dal suo contesto */
    text-decoration: none; /* Rimuove la sottolineatura dei link */
}

.category-item:hover {
    background-color: #f8f8f8;
    transform: translateY(-5px);
}

.category-list, .product-list, .testimonial-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-item, .product-item, .testimonial-item {
    background-color: #e2e2e2;
    padding: 1em;
    margin: 0.5em;
    flex: 1 1 calc(25% - 1em);
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Hover effect per i prodotti */
.product-item:hover {
    background-color: #f8f8f8;
    transform: translateY(-5px); /* Solleva il prodotto leggermente verso l'alto */
}

/* Hover effect per le categorie */
.category-item:hover {
    background-color: #f0f0f0; /* Colore diverso per le categorie */
    transform: translateY(-3px); /* Leggero sollevamento rispetto ai prodotti */
}

/* Hover effect per le testimonianze */
.testimonial-item:hover {
    background-color: #e0e0e0; /* Altro colore per differenziare le testimonianze */
    transform: translateY(-2px); /* Effetto meno pronunciato */
}

/* Stile per il contenitore del prodotto */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
}

.product-item {
    background-color: #f9f9f9;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px; /* Larghezza fissa per i prodotti, ridotta per dimensioni uniformi */
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-item img {
    max-width: 200px; /* Limita la larghezza massima */
    max-height: 150px; /* Limita l'altezza massima */
    object-fit: contain; /* Mantiene le proporzioni senza tagliare l'immagine */
    display: block; /* Garantisce che l'immagine si comporti come un blocco */
    margin: 0 auto; /* Centra l'immagine */
    border-radius: 15px; /* Smussa gli angoli dell'immagine */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiunge una leggera ombra per un effetto più elegante */
}



.product-item h3 {
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

.product-item p {
    font-size: 1.2em;
    color: #e74c3c; /* Colore del prezzo */
    margin-top: 0.5em;
}

/* Hover effect per i prodotti */
.product-item:hover {
    background-color: #f8f8f8;
    transform: translateY(-5px); /* Solleva il prodotto leggermente verso l'alto */
    cursor: pointer; /* Mostra il puntatore del mouse per indicare che è cliccabile */
}

/* Stile per il link del prodotto */
.product-link {
    text-decoration: none;
    color: inherit; /* Mantiene il colore del testo originale */
}



.category-products {
    display: none;
    padding: 2em 1em;
    max-width: 1200px;
    margin: 0 auto;
}

/* Footer */
footer {
    background-color: #191919;
    color: #fff;
    text-align: center;
    padding: 2em 0;
    font-size: 0.9em;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1 1 calc(33% - 1em);
    margin: 1em;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: white;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5em;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #FE1721; /* Updated hover color */
}

.social-media a {
    color: #fff;
    margin: 0 0.5em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #FE1721; /* Updated hover color */
}

.copyright {
    margin-top: 1em;
}
